body{
    margin:0;
}
.toplinks{
margin-left: 75%;
margin-top: 2%;
}

.toplinks a{
    text-decoration: none;
    padding: 1%;
    color: black;
    }


header h1{
    margin-top: 5%;
margin-left: 45%;
}
header h2{
margin-left: 41%;
}
header img{
    max-width: 85%;
 
}

